body{
    margin: 0;
    height: 500px;
    width: 450px;
    background-image: url("/logos/bg.png");
    font-family: 'Comfortaa';
}

.none{
    margin: 0;
    padding: 0;
}

.head{
    margin: 0;
    padding: 10px;
    height:60px;
    width: 100%;
    background-color: #11a683;
    text-align: center;

}
/* -------------------------- */
.heading{
    color: rgb(255, 255, 255);
    font-family: 'Pacifico';
    font-size: 32px;
}

.heading:hover{
    cursor: default;
}

.normal{
    text-decoration: none;
    color: white;
}

#back {
    width:min-content;
    background-color: #4fce88;
    transition: 300ms ease;
    padding: 7px;
    margin-top: 5px;
    border-radius: 0px 9px 9px 0px;
    font-size: 24px;
}

#back:hover{
    background-color: #66df9c;
}

.forml{
    display: flex;
    padding-left: 50px;
}

.forml-sub{
    display:table-cell;

}

.numbers{
    font-size: 18px;

}
.texts{
    font-size: 18px;
}
.texts:hover{
    cursor:default;
}


.password{
    padding-left: 22px;
    font-size: 18px;
}

.box {
    height: 215px;
    width: 176px;
    background-image: linear-gradient(45deg, #4fce88, #11a683);
    border-radius:10px;

}

#pass{
    padding-left: 17px;
}

.button-c{
    background-color: #66df9c;
    border-color: #11a683;
    border-width: 1px;
    border-radius: 0 0 10px 0;
    color: black;
    font-family: 'Pacifico';
}

.text-in{
    border-radius: 10px 10px 10px 0;
    text-align: center;
}